.diseno {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

input {
    text-align: center;
    border: 2px solid ;
    border-radius: 5px;
    padding: 5px;
}

.diseno form {
    display: flex;
    flex-direction: column;
}